{% for line in partition %}
<div class="container-fluid cart-line">
  <div class="row">
    <div class="col-md-1">{{line.quantity}}</div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10">
            <a class="item-popup"
               data-href="{% url 'stores:cartline_detail' line_id=line.id slug=line.item.slug %}">
              {{ line.item.name }}
              <ul class="text-muted">
                {% for x in line.data.extras_meta %}
                <li>{{x.name}}</li>
                {% endfor %}
              </ul>
            </a>
          </div>
          <div class="col-md-1">{{ line.get_total }}
            <a data-href="{% url 'stores:cartline_delete' line.id %}" href="#" class="x-delete">
              Remove
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
