{% autoescape off %}

Hi {{ user.get_short_name }},

We got your request to reset your password. If you've forgotten yours, don't worry! Just reset using the link below or click the button.

If you didn't ask to reset your password, or if you've remembered it now, just ignore this message.

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

If clicking the link above doesn't work, please copy and paste the URL in a new browser
window instead.

See you soon!

Cheers,
The Sendhut team
{% endautoescape %}
