{% extends 'base.html' %}


{% block content %}
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h3> Forgot your password?</h3>
      <p>Tell us where we should send you a link to reset your password</p>
      <form method="post">
        {% csrf_token %}
        {% include 'partials/form.html' %}
          <div class="form-group">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-ok"></span> Reset password
            </button>
          </div>
      </form>
      <a href="{% url 'signin' %}">Back to login</a>
    </div>
  </div>

{% endblock %}
