<div class="row" id="footer-app-download">
  <div class="col-sm-3" id="always-tap"></div>
  <div class="col-sm-4 p-20">
    <h2>Get the Sendhut app</h2>
    <span>See menus and photos, and bookmark your favourite food on the go</span>
  </div>
  <div class="col-sm-4 p-20">
    <form>
      <div class="form-group">
        <input type="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your mobile number">
        <small id="emailHelp" class="form-text text-muted">
          We'll send you a link to download</small>
      </div>
      <button type="submit" class="btn btn-primary">text app link</button>
    </form>
  </div>
</div>
