<div class="row" id="marketing-business">
  <div class="col-sm-8 offset-sm-2" id="happiness-pitch">
    <h2 class="text-center bold">Group Order</h2>
    <h5 class="text-center">Invite friends and coworkers to join your order</h5>
  </div> <!--// happiness-pitch -->
  <div class="col-sm-8 offset-sm-2" id="signup">
    <div class="row align-items-center">
      <div class="col-sm-5">
        <h5>How it works</h5>
        <ul class="group-order-explainer">
          <li>
            Choose a restaurant and share it with a friend – by email, facebook, whatsapp or however you like
          </li>
          <li>You can also set spending limit for each person who's ordering — perfect for those company lunch orders.
          </li>
          <li>Everyone adds their items and the order is delivered together at lunchtime.</li>
          <li>Labels are provided for each dish, with dietary restrictions noted.</li>
        </ul>
      </div>
      <div class="col-sm-6" id="team-lunch"></div>
    </div>
  </div><!--// signup-form-wrapper-->
</div> <!--// business marketing -->
