{% load static %}
{% load lunch_extras %}
{% load thumbnail %}

<div id="lunch-categories">
  <div class="card-row">
    {% for vendor in restaurants %}
      <div class="col-sm-4">
        <div class="card">
          <a href="{% url 'lunch:restaurant_menu' vendor.slug %}">
          {% thumbnail vendor.banner "585x312" crop="center" as im %}
            <img class="card-img-top img-fluid"
                 src="{{ im.url }}"
                 alt="{{ item.title }"
                 width="{{ im.width }}"
                 height="{{ im.height }}">
        {% endthumbnail %}
          </a>
        <div class="card-body">
          <a class="cad-title">{{ vendor.name }}</a>
          <div class="text-muted">{{ vendor.tags_tx }}</div>
          <div class="avg-time">{{ vendor|avg_delivery_time }}</div>
        </div>
        </div>
      </div>
    {% endfor %}

  </div>
</div> <!-- lunch-categories -->
