{% load static %}
{% load lunch_extras %}
{% load thumbnail %}

<div id="lunch-categories">
  <div class="card-row">
    {% for vendor in restaurants %}
      <div class="col-sm-4 vendor">
        <a href="{% url 'lunch:restaurant_menu' vendor.slug %}" class="no-deco">
          <div class="card">
            {% thumbnail vendor.banner "585x312" crop="center" as im %}
            <img class="card-img-top img-fluid"
                 src="{{ im.url }}"
                 alt="{{ item.title }"
                 width="{{ im.width }}"
                 height="{{ im.height }}">
               {% endthumbnail %}
               <div class="card-body">
                 <h6 class="card-title">{{ vendor.name }}</h6>
                 <h6 class="card-subtitle mb-2 text-muted">{{ vendor.tags_tx }}</h6>
                 <div class="avg-time">{#{ vendor|avg_delivery_time }#}</div>
               </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div> <!-- lunch-categories -->
