{% load static %}
<div id="lunch-categories">
<div class="card-row">
  <div class="col-sm-5">
    <div class="card">
      <a href="{% url 'lunch:food_list' category='local-gems' %}">
        <img class="card-img-top img-fluid" src="{% static 'images/fixtures/frontpage/local-gems.jpg' %}"
             alt="Local gems"> <!--// 465x220 -->
      </a>
      <div class="card-body">
        <a href="{% url 'lunch:food_list' category='local-gems' %}" class="no-deco">
          <h4 class="card-title">Local gems</h4>
        </a>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
          <a href="{% url 'lunch:food_list' category='local-gems' %}">View Local Gems</a>
        </p>
      </div>
    </div>
  </div><!-- local gems -->

  <div class="col-sm-7">
    <div class="card">
      <a href="{% url 'lunch:food_list' category='our-picks' %}">
        <img class="card-img-top img-fluid" src="{% static 'images/fixtures/frontpage/our-picks.jpg' %}"
             alt="Our picks"> <!--// 633x220 -->
      </a>
      <div class="card-body">
        <a href="{% url 'lunch:food_list' category='our-picks' %}" class="no-deco">
          <h4 class="card-title">Our picks</h4>
        </a>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
          <a href="{% url 'lunch:food_list' category='our-picks' %}">
            View Our Picks
          </a>
        </p>
      </div>
    </div>
  </div><!--// our picks -->
</div><!-- // first-row-->

<div class="card-row">
  <div class="col-sm-7">
    <div class="card">
      <a href="{% url 'lunch:food_list' category='todays-special' %}">
        <img class="card-img-top img-fluid" src="{% static 'images/fixtures/frontpage/today-special.jpg' %}"
             alt="Today's Special"> <!--//633x220 -->
      </a>
      <div class="card-body">
        <a href="{% url 'lunch:food_list' category='todays-special' %}" class="no-deco">
          <h4 class="card-title">Today's Special</h4>
        </a>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
          <a href="{% url 'lunch:food_list' category='todays-special' %}">
            View Today's Specials
          </a>
        </p>
      </div>
    </div>
  </div><!--// specials -->

  <div class="col-sm-5">
    <div class="card">
      <a href="{% url 'lunch:food_list' category='fruits-and-drinks' %}">
        <img class="card-img-top img-fluid" src="{% static 'images/fixtures/frontpage/fruits-juice-alt.jpg' %}"
             alt="Fresh fruits & jiuce"> <!--//445x220 -->
      </a>
      <div class="card-body">
        <a href="{% url 'lunch:food_list' category='fruits-and-drinks' %}" class="no-deco">
          <h4 class="card-title">Fresh Fruits & Drinks</h4>
        </a>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
          <a href="{% url 'lunch:food_list' category='fruits-and-drinks' %}">
            View Fresh Fruits & Drinks
          </a>
        </p>
      </div>
    </div>
  </div><!-- local gems -->
</div><!-- // 2nd-row-->

<div class="card-row">
  <div class="col-sm-12">
    <div class="card">
      <a href="{% url 'lunch:food_list' category='todays-special' %}">
        <img class="card-img-top img-fluid" src="{% static 'images/fixtures/frontpage/continental.jpg' %}"
             alt="Card image cap">
      </a>
      <div class="card-body">
        <a href="{% url 'lunch:food_list' category='todays-special' %}" class="no-deco">
          <h4 class="card-title">Continental</h4>
        </a>
        <p class="card-text">
          Some quick example text to build on the card title and make up the bulk of the card's content.
          <a href="{% url 'lunch:food_list' category='continental' %}">
            View Continental
          </a>
        </p>
      </div>
    </div>
  </div><!--// continental -->
</div><!-- // 3rd-row-->
</div> <!-- lunch-categories -->
