<div class="row" id="marketing-business">
  <div class="col-sm-10 offset-sm-1" id="happiness-pitch">
    <h1 class="text-center">Sendhut for business</h1>
    <div class="row">
      <div class="card col-sm-5">
        <div class="card-body">
          Healthy and delicious meals sourced from local chefs and restaurants offering a unique take on a cuisine, delivered to your office.
        </div>
      </div>
      <div class="card col-sm-5 offset-sm-2">
        <div class="card-body">
          Your lunch is neatly packed and fresh, with dietary restrictions noted;
          ready to eat when you are.
        </div>
      </div>
    </div>
  </div> <!--// happiness-pitch -->
  <div class="col-sm-10 offset-sm-1" id="signup">
    <div class="row align-items-center">
      <div class="col-sm-5">
        <h2>Good food, good mood</h2>
        <p>Give your team healthy and delicious food</p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter your mobile number or email">
            <small id="emailHelp" class="form-text text-muted">
              We'll never share your phone or email with anyone else.</small>
          </div>
          <button type="submit" class="btn btn-primary">Start</button>
        </form>
      </div>
      <div class="col-sm-5 offset-sm-1" id="team-lunch"></div>
    </div>
  </div><!--// signup-form-wrapper-->
</div> <!--// business marketing -->
