<div class="row" id="marketing-business">
  <div class="col-sm-8 offset-sm-2" id="happiness-pitch">
    <h2 class="text-center bold">Sendhut for business</h2>
    <div class="row">
      <div class="card col-sm-5">
        <div class="card-body">
          <p>Everyone adds their items and the order is delivered together at lunchtime.</p>
          <p>Labels are provided for each dish, with dietary restrictions noted.</p>
        </div>
      </div>
      <div class="card col-sm-5 offset-sm-2">
        <div class="card-body">
          <p>You can set spending limits and bill to specific projects or departments.</p>
          <p>
            Simple billing process helps you save time and eliminate budget headaches.
          </p>
        </div>
      </div>
    </div>
  </div> <!--// happiness-pitch -->
  <div class="col-sm-8 offset-sm-2" id="signup">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <h5>Give your team healthy and delicious food</h5>
        <p>We'll work with you to meet your team's exact needs.</p>
        <form method="post" action="{% url 'dashboard:signup' %}">
          {% csrf_token %}
          {% include 'partials/form.html' with form=business_signup_form %}
          <button type="submit" class="btn btn-primary">Continue</button>
        </form>
      </div>
      <div class="col-sm-6" id="team-lunch"></div>
    </div>
  </div><!--// signup-form-wrapper-->
</div> <!--// business marketing -->
