<div class="row" id="popular-tags">
  <div class="col-sm-12">
    <h2><span class="bold">Need some more options?</span></h2>
    <ul class="list-unstyled list-inline float-left tag-row">
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">local gems</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">halal</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">vegetarian</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">desserts</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">sweet treats</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">guilty pleasures</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">bakery</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">fresh juice</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">healthy food</a>
      </li>
    </ul>
  </div>
</div>
