<div class="row" id="popular-tags">
  <div class="col-sm-12">
    <h1><span class="badge">popular</span></h1>
    <ul class="list-unstyled list-inline float-left tag-row">
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">bang bang shrimp</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">bang bang shrimp</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">fresh grapefruit juice</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">omalet and dodo</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">chicken pepper soup</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">honey glazed chicken</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">fresh grapefruit juice</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">omalet and dodo</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">chicken pepper soup</a>
      </li>
      <li class="list-inline-item">
        <a href="#" class="badge badge-light">honey glazed chicken</a>
      </li>
    </ul>
  </div>
</div>
