{% load static %}
{% load lunch_extras %}
{% load thumbnail %}


<div class="store-list" id="stores">
  <div class="card-row">
    {% for store in restaurants %}
      <div class="col-sm-4 store">
        <a href="{% url 'stores:store_details' store.slug %}" class="no-deco">
          <div class="card">
            {% thumbnail store.banner.image "350x187" crop="center" as im %}
            <img class="card-img-top img-fluid"
                 src="{{ im.url }}"
                 alt="{{ item.title }}"
                 width="{{ im.width }}"
                 height="{{ im.height }}">
               {% endthumbnail %}
               <div class="card-body">
                 <h6 class="card-title">{{ store.name }}</h6>
                 <h6 class="card-subtitle mb-2 text-muted">{{ store.tags_tx }}</h6>
               </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div> <!-- lunch-categories -->
