{% load static %}
<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">
      <img src="{% static 'images/sendhut-yellow.png' %}" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="float-right">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="list-unstyled list-inline float-left" id="contact-tel">
          <li class="list-inline-item">(+234) 809-669-9966, </li>
          <li class="list-inline-item">(+234) 816-956-7693</li>
        </ul>
        <a class="btn btn-outline-primary" href="#" role="button">Login</a>
      </div>
    </div>
  </div>
</nav>
