{% load static %}
{% load djmoney %}
{% load lunch_extras %}

{% if group_order %}
  <div class="cart-header">
    <h4>Your Order</h4>
    <button type="button" class="close float-right" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="col-sm-10 sm-offset-1">
    <a href="{% url 'checkout:summary' %}?cart_ref={{ group_order.token }}" class="btn-checkout">
      <span class="float-left">Checkout &nbsp;</span>
      {% if cart.get_total %}
        <span class="float-right">{{ cart.get_total }}</span>
      {% endif %}
    </a>
  </div>
{% endif %}

{% for member in group_order.members.all %}
  <h6 class="group-section-header">{{ member.get_name }}'s Order</h6>
  {% for line in member.cart.lines.all %}
    <div class="container-fluid cart-line">
      <div class="row">
        <div class="col-sm-1">{{ line.quantity }}</div>
        <div class="col-sm-10">
          <div class="container-fluid">
            <div class="row">
              {% if member.cart.token == cart.token %}
                <div class="col-sm-10">
                  <a class="item-popup"
                     data-href="{% url 'stores:cartline_detail' line_id=line.id slug=line.item.slug %}?cart_ref={{ group_order.token }}">
                     {{ line.item.name }}
                  </a>
                </div>
                <div class="col-sm-1">{{ line.get_total }}<br>
                  <a data-href="{% url 'stores:cartline_delete' line.id %}?cart_ref={{ group_order.token }}"
                     href="#" class="delete">Remove</a>
                </div>
              {% else %}
                <div class="col-sm-10">
                  <a>{{ line.item.name }}</a>
                </div>
                <div class="col-sm-1">{{ line.get_total }}<br>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endfor %}

{% if sub_total %}
  <div class="container cart-summary">
    <div class="row">
      <div class="col-sm-6 bold">
        Subtotal
      </div>
      <div class="col-sm-6 bold">
        {{ group_order.get_subtotal }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 bold">
        Delivery
      </div>
      <div class="col-sm-6 bold">
        {{ delivery_fee }}
      </div>
    </div><!--//delivery -->
    {% if bowl_charge_total %}
    <div class="row">
      <div class="col-sm-6 bold">
        Container charges
      </div>
      <div class="col-sm-6 bold">
        {{ bowl_charge_total }}
      </div>
    </div><!--//bowl costs -->
    {% endif %}
  </div>
{% else %}
  <div class="clearfix"></div>
  <img src="{% static 'images/empty-cart.svg' %}" style="width: 300px; padding: 30px"/>
  <div class="empty-cart-msg">
    <h5 class="text-mute bold">Your basket is empty</h5>
    <span class="text-muted mx-auto">Start adding meals!</span>
  </div>
{% endif %}
