{% load static %}
{% load lunch_extras %}
{% load thumbnail %}
{% load debug %}

<div class="item-detail-card">
  {% thumbnail item.image.image "585x312" crop="center" as im %}
  <img class="card-img-top img-fluid"
       src="{{ im.url }}"
       alt="{{ item.title }"
       width="{{ im.width }}"
       height="{{ im.height }}">
     {% endthumbnail %}

     <div class="card-body">
       <h4 class="card-title">{{ item.name }} </h4>
       <p class="card-text text-muted">{{ item.description }}</p>
       {% include  "stores/_dietary_labels.html" with item=item %}
       <form id="item-form" data-cart-submit>
         <input type="hidden" name="uuid" value="{{ item.uuid }}" />
         <input type="hidden" name="item_id" value="{{ item.id }}" />
         <input type="hidden" name="name" value="{{ item.name}}" />
         <input type="hidden" name="store[name]" value="{{ item.menu.store.name }}" />
         <input type="hidden" name="store[uuid]" value="{{ item.menu.store.uuid }}" />
         <input type="hidden" name="store[address]" value="{{ item.menu.store.address }}"/>
         <input type="hidden" name="store[location]" value="{{ item.menu.store.location }}"/>
         <input type="hidden" name="available" value="{{ item.available }}" />
         <input type="hidden" name="price" value="{{ item.price.amount }}" />
         <input type="hidden" name="slug" value="{{ item.slug }}" />
         <input type="hidden" name="category" value="{{ category }}" />
         <input type="hidden" name="line_id" value="{{ cart_line.id }}" />
         {% if group_cart_token %}
         <input type="hidden" name="cart_token" value="{{ group_cart_token }}" />
         {% endif %}
         {% for opt_group in item.option_groups.all %}
           <h6>
             {{ opt_group.name }}
             <span class="text-muted float-right">
               {% if opt_group.is_required %} Required {% else %} Optional {% endif %}
             </span>
           </h6>
           {% for option in opt_group.options.all %}
             {% if opt_group.multi_select %}
               <div class="form-check">
                 <label class="form-check-label">
                   <input
                     class="form-check-input"
                     type="checkbox"
                     name="extras[]"
                     value="{{ option.id }}"
                     {% if cart_line|line_has_side:option  %}checked{% endif %}>
                     {{ option.name }}
                 </label>
                 <span class="float-right">{% if option.price %}{{ option.price }}{% endif %}</span>
               </div>
             {% else %}
               <div class="form-check">
                 <label class="form-check-label">
                   <input
                     class="form-check-input"
                     type="radio"
                     name="extras[]"
                     value="{{ option.id }}"
                     {% if cart_line and option.id in cart_line.data.extras %}checked{% endif %}>
                     {{ option.name }}
                 </label>
                 <span class="float-right">{{ option.price }}</span>
               </div>
             {% endif %}
           {% endfor %}
         {% endfor %}
         <div class="form-group">
           <label for="special-instructions">Special instructions (Optional)</label>
           <input type="text" class="form-control" name="note"
                  placeholder="Add note (e.g. allergies, extra spicy, etc.)"
                  {% if cart_line %}value="{{ cart_line.data.note }}"{% endif %}>
         </div>
         <hr>
         <div class="row">
         <div class="col-sm">
           <div class="input-group number-spinner mb-2 mr-sm-2"
                style="width: 150px; height: 37px">
             <button class="btn btn-default minus" data-dir="dwn"></button>
             <input type="text" class="form-control text-center" name="quantity"
                    value="{% if cart_line %}{{ cart_line.quantity }}{% else %}1{% endif %}">
             <button class="btn btn-default plus" data-dir="up"></button>
           </div>
         </div>
         <div class="col-sm">
           <button type="submit" class="btn btn-primary" id="add-to-cart"
                   data-dismiss="modal">
             Add to Order - {{ item.price }}
           </button>
         </div>
         </div>
       </form>
     </div>
</div>
