{% load static %}
{% load djmoney %}
{% load lunch_extras %}
<button type="button" class="close float-right" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
{% if cart %}
  <div class="cart-header">
    <h4>Your Order</h4>
  </div>
  <div class="col-sm-10 sm-offset-1">
    <a href="{% url 'checkout:summary' %}" class="btn-checkout">
      <span class="float-left">Checkout &nbsp;</span>
      <span class="float-right">{{ total }}</span>
    </a>
  </div>
 {% endif %}
 {% for line in cart %}
  <div class="container-fluid cart-line">
    <div class="row">
      <div class="col-sm-1">{{ line.quantity }}</div>
      <div class="col-sm-10">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-10">
              <a class="item-popup"
                 data-href="{% url 'stores:cartline_detail' line_id=line.id slug=line.item.slug %}">
                 {{ line.item.name }}
              </a>
            </div>
            <div class="col-sm-1">{{ line.get_total }}<br>
              <a data-href="{% url 'stores:cartline_delete' line.id %}"
                 href="#" class="delete">Remove</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% if cart %}
  <div class="container cart-summary">
    <div class="row">
      <div class="col-sm-6 bold">
        Subtotal
      </div>
      <div class="col-sm-6 bold">
        {{ sub_total }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 bold">
        Delivery
      </div>
      <div class="col-sm-6 bold">
        {{ delivery_fee }}
      </div>
    </div><!--//delivery -->
    {% if bowl_charge_total %}
    <div class="row">
      <div class="col-sm-6 bold">
        Container charges
      </div>
      <div class="col-sm-6 bold">
        {{ bowl_charge_total }}
      </div>
    </div><!--//bowl costs -->
    {% endif %}
    {% if coupon %}
    <div class="row">
      <div class="col-sm-6 bold">
        Discount
      </div>
      <div class="col-sm-6 bold">
        {{ coupon.giveaway.discount_value }}
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 bold">
        What you pay
      </div>
      <div class="col-sm-6 bold">
        {% if total %} {{ total }} {% else %} FREE {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
{% else %}
  <div class="clearfix"></div>
  <img src="{% static 'images/empty-cart.svg' %}" style="width: 300px; padding: 30px"/>
  <div class="empty-cart-msg">
    <h5 class="text-mute bold">Your basket is empty</h5>
    <span class="text-muted mx-auto">Start adding meals!</span>
  </div>
{% endif %}
