{% extends "base.html" %}
{% load lunch_extras %}
{% load thumbnail %}


{% block content %}
  <br>
  {% if active_group_orders %}
    <h2>Active Group Orders</h2>
    <div id="row" id="active-groups">
      {% for group_order in active_group_orders %}
        <div class="col-sm-4 float-left">
          <a href="{% url 'group:rejoin' group_order.token %}" class="no-deco">
            <div class="card">
              {% thumbnail store.banner.image "318x180" crop="center" as im %}
              <img class="card-img-top img-fluid"
                   src="{{ im.url }}"
                   alt="{{ item.title }}"
                   width="{{ im.width }}"
                   height="{{ im.height }}">
                 {% endthumbnail %}
                 <div class="card-body">
                   <h6 class="card-title">{{ group_order.store.name }}</h6>
                   <h6 class="card-subtitle mb-2 text-muted">{{ group_order.members.count }} people in this order</h6>
                 </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
  {% endif %}
  <div class="clearfix"></div>
  <br>
  <h2 class="bold">Orders</h2>
  <hr>
  {% if orders %}
    {% include "stores/_order_history.html" with orders=orders %}
  {% else %}
  <div class="text-center">
    <br>
    <h6 class="bold">You haven't placed any orders yet!</h6>
    Your orders will appear here.

    <br>
    <br>
    <a href="{% url 'home' %}">
      <button type="button" class="btn btn-warning">Find something tasty to order</button>
    </a>
  </div>
  {% endif %}

{% endblock %}

{% block extra_js %}
  <script type="text/javascript">
    $('tr[data-href]').on("click",function(){
      window.location = $(this).data('href');
      return false;
    });
    $("td > a").on("click",function(e){
      e.stopPropagation();
    });
  </script>
{% endblock %}
