{% load lunch_extras %}
{% load thumbnail %}

<div class="cart" id="cart-confirm">
  <h2 class="text-center bold">Your Order</h2>

  <div class="row">
    <div class="col-md-6 left-pane">
      {% if not total %}
        <div class="clearfix"></div>
        <h6 class="text-muted empty-cart-msg">Your basket is empty</h6>
      {% endif %}
        {% for vendor_name, subcart in vendor_grouped_cart %}
          <h5 class="subcart-header">{{ vendor_name }}</h5>
        {% include "lunch/_subcart.html" %}
        <div class="container cart-summary">
          <div class="row">
            <div class="col-md-3 offset-sm-7">Subtotal</div>
            <div class="col-md-1">{{ subcart|subcart_total }}</div>
          </div>
        </div><!--// cart cost -->
        <br>
      {% endfor %}
    </div> <!--//left-pane -->
    <div class="col-md-6 right-pane">
      <div class="cart-summary">
        <div class="row">
          <div><h5 class="bold">Total</h5></div>
          <div class="offset-sm-1 bold">{{ total }}</div>
        </div>
      </div><!-- // cart-summary  -->
      <hr>
      {% include "lunch/_checkout_form.html" %}
    </div>
  </div> <!-- right-pane-->
</div>
