{% load lunch_extras %}
{% load thumbnail %}

<div class="cart" id="cart-confirm">
  {% if grouped_cart %}
    <h2 class="text-center bold">Your Order</h2>
    {% if grouped_cart|length > 1 %}
      <h6 class="text-center">You have have added food from {{grouped_cart|length}} restaurants</h6>
    {% endif %}

    <div>
      {% for vendor_name, subcart in grouped_cart %}
        <h5 class="subcart-header">{{ vendor_name }}</h5>
        {% for line in subcart %}
          <div class="container-fluid cart-line">
            <div class="row">
              <div class="col-sm-1">{{line.quantity}}</div>
              <div class="col-sm-10">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-10">
                      <a class="item-popup"
                         data-href="{% url 'lunch:cartline_detail' uuid=line.uuid slug=line.slug %}">
                         {{ line.name }}
                         <ul class="text-muted">
                           {% for x in line.extras_meta %}
                             <li>{{x.name}}</li>
                           {% endfor %}
                         </ul>
                      </a>
                    </div>
                    <div class="col-sm-1">{{ line.total }}
                      <a data-href="{% url 'lunch:cartline_delete' line.uuid %}" href="#" class="x-delete">
                        Remove
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        <div class="container cart-summary">
          <div class="row">
            <div class="col-sm-3 offset-sm-7"><a>Subtotal</a></div>
            <div class="col-sm-1"><a>{{ subcart|subcart_total }}</a></div>
          </div>
          <div class="row">
            <div class="col-sm-3 offset-sm-7"><a>Delivery</a></div>
            <div class="col-sm-1"><a>{{ delivery_fee }}</a></div>
          </div>
        </div><!--// cart cost -->
        <br>
      {% endfor %}
    </div>

    <div class="container cart-summary">
      <div class="row">
        <div class="col-sm offset-sm-7"><h5 class="bold">Total</h5></div>
        <div class="offset-sm-2 col-sm-2 bold">{{ total }}</div>
      </div>
    </div><!-- // cart-summary  -->

    <div class="col-sm-5 offset-sm-7">
      <hr>
      {% include "lunch/_checkout_form.html" %}
    </div> <!--// checkout -->

{% else %}
  <div class="clearfix"></div>
  <div class="col-sm-5 offset-sm-4 empty-cart-msg"><h2 class="text-muted empmsg">Your basket is empty</h2></div>
{% endif %}
</div>
