<form id="delivery-time-form" action="{% url 'lunch:checkout' %}" method="POST">
  {% csrf_token %}
  <div class="form-group row">
    <label for="delivery_address" class="col-sm-4 col-form-label">Delivery Address</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" name="delivery_address" placeholder="Enter location or landmark">
      {% with field_errors=form.errors.delivery_address %}
        {% for error in field_errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% endwith %}
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-4 col-form-label" for="delivery-time">Delivery Time</label>
    <div class="col-sm-8">
      <select class="mb-3 mr-sm-3 form-control-sm" name="delivery_time">
        {% for time in delivery_schedule %}
          <option value="{{ time }}">{{ time }}</option>
        {% endfor %}
      </select>
      {% with field_errors=form.errors.delivery_time %}
        {% for error in field_errors %}
          <div class="invalid-feedback">
            {{ error }}
          </div>
        {% endfor %}
      {% endwith %}
    </div>
  </div>
  <div class="form-row">
    <label for="instructions">Special instructions</label>
    <textarea class="form-control" rows="3"
              name="notes"
              placeholder="Delivery Instructions. Ex. Call me when you’re outside!"></textarea>
              {% with field_errors=form.errors.notes %}
                {% for error in field_errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endwith %}
  </div>
  <br>
  <small class="form-text">
    Pay online or pay the rider when your meal arrives. We recommend online payment. It's safe, fast and secure.
  </small>
  <div class="form-check">
    <label class="form-check-label text-muted">
      <input type="checkbox" class="form-check-input" name="cash_delivery">
      Cash on delivery
    </label>
  </div>

  <br>
  <button type="submit" class="btn btn-warning">Submit order</button>
</form>
