{% load static %}
{% load lunch_extras %}
{% load thumbnail %}

<div class="item-detail-card">
  {% thumbnail item.primary_image "585x312" crop="center" as im %}
  <img class="card-img-top img-fluid"
       src="{{ im.url }}"
       alt="{{ item.title }"
       width="{{ im.width }}"
       height="{{ im.height }}">
     {% endthumbnail %}

     <div class="card-body">
       <h4 class="card-title">{{ item.name }}</h4>
       <p class="card-text text-muted">{{ item.description }}</p>
       {% include  "lunch/_dietary_labels.html" with item=item %}
       <form id="item-form" data-cart-submit>
         <input type="hidden" name="uuid" value="{{ item.uuid }}" />
         <input type="hidden" name="name" value="{{ item.name}}" />
         <input type="hidden" name="partner" value="{{ item.menu.partner.name }}" />
         <input type="hidden" name="available" value="{{ item.available }}" />
         <input type="hidden" name="price" value="{{ item.price.amount }}" />
         <input type="hidden" name="slug" value="{{ item.slug }}" />
         <input type="hidden" name="category" value="{{ category }}" />
         {% for opt_group in item.option_groups.all %}
           <h5>
             {{ opt_group.name }}
             <span class="text-muted float-right">
               {% if opt_group.is_required %} Required {% else %} Optional {% endif %}
             </span>
           </h5>
           {% for option in opt_group.options.all %}
             {% if opt_group.multi_select %}
               <div class="form-check">
                 <label class="form-check-label">
                   <input
                     class="form-check-input"
                     type="checkbox"
                     name="extras[]"
                     value="{{ option.id }}"
                     {% if cart_line and option.id in cart_line.extras %}checked{% endif %}>
                     {{ option.name }}
                 </label>
                 <span class="float-right">{{ option.price }}</span>
               </div>
             {% else %}
               <div class="form-check">
                 <label class="form-check-label">
                   <input
                     class="form-check-input"
                     type="radio"
                     name="extras[]"
                     value="{{ option.id }}"
                     {% if cart_line and option.id in cart_line.extras %}checked{% endif %}>
                     {{ option.name }}
                 </label>
                 <span class="float-right">{{ option.price }}</span>
               </div>
             {% endif %}
           {% endfor %}
         {% endfor %}
         <div class="form-group">
           <label for="special-instructions">Special instructions (Optional)</label>
           <input type="text" class="form-control" name="note"
                  placeholder="Add note (e.g. allergies, extra spicy, etc.)"
                  {% if cart_line %}value="{{ cart_line.note }}"{% endif %}>
         </div>
         <hr>
         <div class="input-group number-spinner mb-2 mr-sm-2 float-left"
              style="width: 150px; height: 37px">
              <button class="btn btn-default minus" data-dir="dwn"></button>
              <input type="text" class="form-control text-center" name="quantity"
                     value="{% if cart_line %}{{ cart_line.quantity }}{% else %}1{% endif %}">
              <button class="btn btn-default plus" data-dir="up"></button>
         </div>
         <button type="submit" class="btn btn-primary float-right" id="add-to-cart">
           Add to Order - {{ item.price }}
         </button>
       </form>
     </div>
</div>
