{% extends "base.html" %}

{% block content %}
  {% load lunch_extras %}
  {% load thumbnail %}

  <div class="cart" id="cart-confirm">
    {% if group_cart %}
      <h2 class="text-center bold">Group Order</h2>
      <h6 class="text-center">{{ group_cart.members.all|length }} people are in this group order</h6>

      <div>
        <h5 class="subcart-header">{{ group_cart.vendor.name }}</h5>
        <div class="container cart-summary">
          {% for member in group_cart.members.all %}
            {% for line in member.cart.cart %}
              <div class="container-fluid cart-line">
                <div class="row">
                  <div class="col-sm-1">{{line.quantity}}</div>
                  <div class="col-sm-10">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-sm-10">
                          <a class="item-popup"
                             data-href="{% url 'lunch:cartline_detail' line_id=line.line_id slug=line.slug %}">
                             {{ line.name }}
                             <ul class="text-muted">
                               {% for x in line.extras_meta %}
                                 <li>{{x.name}}</li>
                               {% endfor %}
                             </ul>
                          </a>
                        </div>
                        <div class="col-sm-1">{{ line.total }}
                          <a data-href="{% url 'lunch:cartline_delete' line.line_id %}"
                             href="#" class="x-delete">
                             Remove
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endfor %}
          <div class="row">
            <div class="col-sm-3 offset-sm-7"><a>Subtotal</a></div>
            <div class="col-sm-1"><a>{{ subcart|subcart_total }}</a></div>
          </div>
          <div class="row">
            <div class="col-sm-3 offset-sm-7"><a>Delivery</a></div>
            <div class="col-sm-1"><a>{{ delivery_fee }}</a></div>
          </div>
        </div><!--// cart cost -->
        <br>
      </div>

      <div class="container cart-summary">
        <div class="row">
          <div class="col-sm offset-sm-7"><h5 class="bold">Total</h5></div>
          <div class="offset-sm-2 col-sm-2 bold">{{ total }}</div>
        </div>
      </div><!-- // cart-summary  -->

      <div class="col-sm-5 offset-sm-7">
        <hr>
        {#% include "lunch/_checkout_form.html" %#}
      </div> <!--// checkout -->

{% else %}
  <div class="clearfix"></div>
  <div class="col-sm-5 offset-sm-4 empty-cart-msg"><h2 class="text-muted empmsg">Your basket is empty</h2></div>
{% endif %}
  </div>

{% endblock %}
