{% extends "base.html" %}
{% load lunch_extras %}
{% load thumbnail %}

{% block page_header %}
  {{ page_title }}
{% endblock %}

{% block content %}
  <div class="row food-list">
    <div class="container">
      {% for item in items %}
        <a
           data-href="{% url 'lunch:food_detail' slug=item.slug %}"
           class="item-popup">
        <div class="card">
          {% thumbnail item.primary_image "310x172" crop="center" as im %}
          <img class="card-img-top img-fluid"
               src="{{ im.url }}"
               alt="{{ item.title }"
               width="{{ im.width }}"
               height="{{ im.height }}">
             {% endthumbnail %}

          <div class="card-body">
            <p class="card-title">{{ item.name }}</p>
            <p class="card-text">
              {% include  "lunch/_dietary_labels.html" with item=item %}
              <div class="row">
                <div class="container">
                  {# TODO(yao): display estimated ready time for food #}
                  <div class="avg-time">{{ item.menu.vendor|avg_delivery_time }}</div>
                </div>
              </div>
            </p>
          </div>
        </div>
        </a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
