{% extends "base.html" %}
{% load static %}
{% load lunch_extras %}
{% load thumbnail %}

{% block page_header %}
{% endblock %}

{% block content %}
  <div class="container">
    {% if group_order %}
      {% include "lunch/_group_order_header.html" %}
    {% endif %}
    <div class="row">
      <div class="col-sm-6">
        <h2 class="bold">{{ store.name }}</h2>
        <div>
          <ol class="list-inline">
            <li class="text-muted">{{ store.tags_tx }}</li>
            <li class="text-muted">{{ store.address }}</li>
          </ol>
        </div>
        <div>
          {% if not group_order %}
            {% if user.is_authenticated %}
              <a href="#" data-toggle="modal" data-target="#group-order-modal">
                <button type="button" class="btn btn-primary">Create Group Order</button>
              </a>
            {% else %}
              <a href="/login?next={% url 'lunch:store_details' store.slug %}">
                <button type="button" class="btn btn-primary">Create Group Order</button>
              </a>
            {% endif %}
          {% endif %}
        </div>
        <br>
      </div>
      <div class="col-sm-5">
        {% thumbnail store.banner.image "370x160" crop="center" as im %}
        <img class="card-img-top img-fluid"
             src="{{ im.url }}"
             alt="{{ item.title }}"
             width="{{ im.width }}"
             height="{{ im.height }}">
           {% endthumbnail %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="container">
      <nav class="nav">
        {% for menu in store.menus.all %}
          <a class="nav-link" href="#{{ menu.name }}">{{ menu.name }}</a>
        {% endfor %}
      </nav>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="container">
      {% for menu in store.menus.all %}
        <h4 id="{{ menu.name }}"  class="menu-header bold">{{menu.name}}</h4>
        <br>
        <div class="row food-list">
          {% for item in menu.items.all %}
            <div class="col-sm-5 rounded menu-item {% if not item.image %}menu-item-no-image{% endif %}">
              <a
                data-href="{% url 'lunch:food_detail' slug=item.slug %}?cart_ref={{ group_cart.token }}"
                class="item-popup">
                <div class="row">
                  {% if item.image %}
                  <div class="col-sm-3 item-image-wrap">
                    {% if is_mobile %}
                      {% thumbnail item.image.image "350x160" crop="center" as im %}
                      <img class="img-fluid"
                           src="{{ im.url }}"
                           alt="{{ item.title }}"
                           width="{{ im.width }}"
                           height="{{ im.height }}">
                         {% endthumbnail %}
                       {% else %}
                         {% thumbnail item.image.image "128x128" crop="center" as im %}
                         <img class="img-fluid"
                              src="{{ im.url }}"
                              alt="{{ item.title }}"
                              width="{{ im.width }}"
                              height="{{ im.height }}">
                            {% endthumbnail %}
                          {% endif %}
                  </div>
                  {% endif %}
                  <div class="{% if item.image %}col-sm-9{% else %}col-sm{% endif %} item-body">
                    <div class="card">
                      <div class="card-body">
                        <h6 class="card-title">{{ item.name }}</h6>
                        <p class="card-text text-muted">{{ item.description }}</p>
                        <div class="item-meta">
                          <span class="float-left item-price">{% if item.price %}{{item.price}}{% endif %}</span>
                          <span class="float-right">
                            {% include  "lunch/_dietary_labels.html" with item=item %}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div><!--// menu item -->
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>


  <!-- food modal -->
  <div class="modal fade" id="item-modal" tabindex="-1" role="dialog"
       aria-labelledby="item-modal-label" aria-hidden="true">
       <div class="modal-dialog" role="document">
         <div class="modal-content">
           <div class="modal-header">
             <h5 class="modal-title" id="item-modal-label"></h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
             </button>
           </div>
           <div class="modal-body food-modal">
           </div>
         </div>
       </div>
  </div>

  {% if group_order %}
    {% include "lunch/_group_share_modal.html" %}
    {% include "lunch/_group_join_modal.html" %}
  {% endif %}
  {% include "lunch/_group_order_modal.html" %}

{% endblock %}

{% block extra_js %}
  {% if group_order and group_order.force_signup %}
    <script type="text/javascript">
      $('#group-join-modal').modal({backdrop: 'static', focus: true});
    </script>
  {% endif %}
  <script src="{% static 'vendor/clipboard.min.js' %}"></script>
{% endblock %}
