{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock %}

{% page_header %}CSRF Verification Failed {% endblock %}

{% block content %}
<p>A required security token was not found or was invalid.</p>

<p>If you're continually seeing this issue, try the following:</p>

<ol>
  <li>Clear cookies (at least for Sentry's domain)</li>
  <li>Reload the page you're trying to submit (don't re-submit data).</li>
  <li>Re-enter the information, and submit the form again</li>
</ol>
{% endblock %}
