{% extends "base.html" %}

{% block content %}
<div class="col-sm-10">
  <h4>About </h4>
  <p>
    Sendhut's mission is to make delivering anything easy, for everyday use or business. We are achieving this mission first by enabling restaurant food delivery.
  </p>
  <p>
    We're currently on offer in Lekki phase 1, Lagos, with new locations being added soon. If you're outside of our service area, still share your interest — it'll help us pick our next location. We're available by phone 08096699966 Monday–Friday, 9 a.m.– 9 p.m and by chat every day, 9 a.m.–9 p.m.
  </p>

  <p>Office: House A. 19 Jerry Iriabe St, Lekki Phase 1, Lekki, Nigeria</p>

  <p>Email: hello@sendhut.com</p>

  <p>P.S: If you're interested in learning more, visit our <a href="{% url 'faqs' %}">FAQ</a> page</p>
</div>
{% endblock %}
