{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="row">

  <div class="col-sm-8">
    <h4>About </h4>
    <p>
      Sendhut is reimagining the delivery experience. If you want to send a package across town or have us pick up an item, we've got you covered. Our carefully vetted and friendly couriers ensure your stuff is delivered in a fresh and timely fashion.
    </p>
    <p>
      We're currently on offer in Lekki phase 1, Lagos, with new locations being added soon. If you're outside of our service area, still share your interest — it'll help us pick our next location.
    </p>
    <p>You may also check our <a href="{% url 'faqs' %}">FAQ</a> page.</p>
    <p>
      <img class="icon" src="{% static 'images/icons/location.svg' %}" alt="">
      House A. 19 Jerry Iriabe St, Lekki Phase 1, Lagos
    </p>

  </div>

  <div class="col-sm-4" id="about-contact">
    <div>
      <h6>Get In Touch</h6>
      <p>
        <img class="icon" src="{% static 'images/icons/phone.svg' %}" alt=""> 08096699966 / 08169567683</p>
      <p>
        <img class="icon" src="{% static 'images/icons/mail.svg' %}" alt="">
        <a href="mailto:hello@sendhut.com">hello@sendhut.com</a>
      </p>
    </div>
  </div>

</div>
{% endblock %}
