{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Delivering Happiness | Good ">
    <meta name="author" content="">
    <title>Sendhut | {% block title %} {{ page_title }} {% endblock %}</title>
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon-16x16' %}">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% include "partials/top_nav.html" %}
    <main role="main" class="container">
      <div class="page-header">
        <h1 class="bold">
          {% block page_header %} {% endblock %}
        </h1>
      </div>
      <div id="content">
        {% block content %}{% endblock %}
      </div>
    </main><!--// main -->

    {% include "partials/footer.html" %}

    <script src="{% static 'vendor/jquery.js' %}"></script>
    <script src="{% static 'vendor/popper.js' %}"></script>
    <script src="{% static 'vendor/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/scrollPosStyler.js' %}"></script>
    <script src="{% static 'vendor/holder.js' %}"></script>
    <script src="{% static 'vendor/slidepanel/slidepanel.js' %}"></script>
    <link rel="stylesheet" href="{% static 'vendor/slidepanel/slidepanel.css' %}">

    <script src="{% static 'js/app.js' %}"></script>

    <script type="text/javascript">
      $(function () {

      $('[data-toggle="tooltip"]').tooltip();
      // (".modal .modal-title").html(pageTitle);

      // item detail modal
      $('.item-popup').on('click',function(){
        var dataURL = $(this).attr('data-href');
        $('.modal-body').load(dataURL, function(){
            $('#item-modal').modal({show: true});
        });
      });

      // side rail cart
      $('[data-slidepanel]').slidepanel({
          orientation: 'right',
          mode: 'overlay'
      });
      })
    </script>
    <!-- endbuild -->
  </body>
  {% block extra_js %}{% endblock %}
  {% block extra_css %}{% endblock %}

</html>
