{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Delivering Happiness | Good ">
    <meta name="author" content="">
    <title>Sendhut | {% block title %} {{ page_title }} {% endblock %}</title>
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon-16x16' %}">
  </head>

  <body class="dashboard">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 d-none d-sm-block sidebar bg-light">
          <nav class="bg-light">
            <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:orders' %}">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:employees' %}">Employees</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:allowances' %}">Allowances</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'dashboard:home' %}">Dashboard home</a>
              </li>
              <div class="dropdown-divider"></div>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Go to main website &raquo;</a>
              </li>
            </ul>
          </nav>
        </div>
        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <div id="masthead">
            <div>
              <h4 class="bold float-left">{{ page_title }}</h4>

              <div class="dropdown show float-right" id="dashboard-user-menu">
                <a class="btn btn-sm btn-outline-primary dropdown-toggle"
                   href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Account
                </a>

                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Settings</a>
                  <a class="dropdown-item" href="#">Payments</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">View personal profile</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
            <div id="context-menu">
              {% block context_menu %}{% endblock %}
            </div>
          </div> <!--// masthead -->
          <div class="clearfix"></div>
          <div id="content">
            {% block messages %}
              {% include "partials/messages.html" %}
            {% endblock %}

            {% block content %}{% endblock %}
          </div>
        </main>
      </div>
    </div>

    {% include "partials/footer_static.html" %}

  </body>
</html>
