{% extends "base.html" %}

{% block content %}
  <div id="faqs" class="col-sm-10">
    <h4>Questions</h4>

    <ol id="faqs-menu">
      <li><a href="#q1">What are your delivery hours?</a></li>
      <li><a href="#q2">Where do you deliver?</a></li>
      <li><a href="#q3"> How fast do you deliver?</a></li>
      <li><a href="#q4">What kind of restaurants are listed on SendHut?</a></li>
      <li><a href="#q5">Can I suggest a new restaurant for SendHut?</a></li>
      <li><a href="#q6">What if I have a suggestion or feedback?</a></li>
      <li><a href="#q7">How much does delivery cost?</a></li>
      <li><a href="#q8"> Do I have to tip?</a></li>
      <li><a href="#q9">Can I order from different restaurants at the same time?</a></li>
      <li><a href="#q10">What if I have allergies?</a></li>
      <li><a href="#q11">How do I pay?</a></li>
      <li><a href="#q12">What's Sendhut refund policy?</a></li>
    </ol>
    <hr>
    <h4 id="q1">Answers</h4>

    <h6 id="q2">What are your delivery hours? </h6>
    <p>Everyday, we deliver lunch from 11:30 AM - 2:00 PM</p>

    <h6>Where do you deliver? </h6>
    <p>
      We're currently on offer in Lekki phase 1, Lagos, with new locations being added soon. If you're outside of our service area, still share your interest — it'll help us pick our next location.
    </p>

    <h6 id="q2"> How fast do you deliver?</h6>
    <p>
      Fast, like magic!

      If, for any reason, your delivery takes longer than an hour, we'll waiver your delivery fee. Regardless of the situation, we will always notify you of your order status.
    </p>

    <h6 id="q3">What kind of restaurants are listed on SendHut? </h6>
    <p>
      In selecting our restaurants, we curate a list of high-quality and a diverse selection of restaurants based on our personal experience and recommendations from friends and people like you.
      Not seeing your favourite? Let us know.
    </p>

    <h6 id="q4">Can I suggest a new restaurant for SendHut? </h6>
    <p>Let us know by emailing <a href="mailto:hello@sendhut.com">hello@sendhut.com</a>. Once received, we will run them through our assessment program and we will do our best to make it happen, just <em>'cuz you told us to.'</em></p>

    <h6 id="q5">What if I have a suggestion or feedback?</h6>
    <p>Yes! Please email us at <a href="mailto:hello@sendhut.com">hello@sendhut.com</a></p>

    <h6 id="q7">How much does delivery cost?</h6>
    <p>Delivery charges range between NGN 300 - NGN 500.</p>

    <h6 id="q8"> Do I have to tip? </h6>
    <p>This is completely up to you. Our riders make the magic happen, so tips are appreciated but  not required. Riders receive 100% of all tips.</p>

    <h6 id="q9">Can I order from different restaurants at the same time?</h6>

    Yes! We charge a flat fee of ₦{{ BASE_DELIVERY_FEE }} for every restaurant where you place an order. For example, If you place an order for meal items at SoFresh and another item at The Place, you'll pay ₦{% widthratio BASE_DELIVERY_FEE 1 2 %}.

    <h6 id="q10">What if I have allergies?</h6>
    <p>If you have specific allergies and are concerned about any items on a menu you can specify allergies in the Special Instructions box and restaurants will pay special attention to them when preparing your food.</p>

    <h6>How do I pay?</h6>
    <p id="q11">
      You pay online through our website. All payments are handled securely through
      <a href="https://paystack.com" target="_blank">Paystack</a>
    </p>

    <h6 id="q12"> What's Sendhut's refund policy?</h6>
    <p>We started Sendhut to delight our customers. If you ever encounter an issue, please call us on 08096699966, email us at <a href="mailto:hello@sendhut.com">hello@sendhut.com</a>. We'll do right by you</p>
  </div>
{% endblock %}
