{% extends "base.html" %}

{% block body_class %}body-home{% endblock %}

{% block page_header %}
<div id="featured">Featured restaurants</div>
{% endblock %}

{% block content %}

<div>
Every lunch menu is sourced from local chefs and restaurants offering a unique take on a cuisine.
</div> <br>

{% include "partials/lunch_categories.html" %}

{% include "partials/popular_tags.html" %}

{% endblock %}

{% block main_bottom %}
{% include "partials/group_order_banner.html" %}
{#% include "partials/office_lunch_banner.html" %#}
{#% include "partials/download_app.html" %#}
{% endblock %}
