{% extends "base.html" %}
{% load static %}

{% block body_class %}store-b2b-signup{% endblock %}

{% block content %}
  <div id="store-b2b-banner" class="card bg-dark text-white text-center">
    <img class="card-img-top" src="{% static 'images/store-b2b-banner.jpg' %}" alt="Card image cap">
    <div class="card-img-overlay">
      <h1 class="card-title">Grow your business</h1>
      <h3 class="card-text">
        You run your business, we run your deliveries.
      </h3>
    </div>
  </div>
  <br>
  <div class="row" id="store-marketing">
    <div class="container">
      <div class="card mb-3 col-sm-4">
        <div class="card-body">
          <h4 class="card-title">Delight your customers</h4>
          <p class="card-text">
            To ensure consistently great experience, Sendhut employs
            the highest standards in food packaging and delivery.
          </p>
        </div>
      </div>

      <div class="card mb-3 col-sm-4">
        <div class="card-body">
          <h4 class="card-title">Reach more customers</h4>
          <p class="card-text">
            Our site opens up your menu to an increasingly growing number of
            customers who are looking to discover great food.
          </p>
        </div>
      </div>

      <div class="card mb-3 col-sm-4">
        <div class="card-body">
          <h4 class="card-title">Deliver to more areas</h4>
          <p class="card-text">
            Reach customers in  new neighborhoods across the city.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="marketing-business">
    <div class="col-sm-8 offset-sm-2" id="envoy-merchant-request">
      <h4 class="text-center bold">Start powering your deliveries with Sendhut today</h4>
      <br>
      <div class="col-sm-8 offset-sm-1">
        <form method="post">
          {% csrf_token %}
          {% include 'partials/form.html' with form=form %}
          <div class="form-group">
            <button type="submit" class="btn btn-success">
              <span class="glyphicon glyphicon-ok"></span> Get started
            </button>
          </div>
        </form>
      </div>

    </div>
  </div>
{% endblock %}
