{% extends "base.html" %}

{% block content %}
  <div class="col-sm-10">
    <h4>Privacy policy</h4>
    <h6>Privacy Policy</h6>
    <p>
      Sendhut may collect personal information to help you place and receive delivery
      orders and to improve the services we offer to you.
      We think it's only right that you're clear on (and comfortable with) how
      the information you share is used and safeguarded:

      <ul>
        <li>We work hard to ensure it's totally secure</li>
        <li>We use it to make our service as good as it can be</li>
        <li>We won't sell it to anyone – ever </li>
      </ul>
    </p>

    <p>We may update the policy from time to time (most likely only with small changes),
      so we suggest you check back here every now and then to ensure you're still satisfied.
      Don't worry, we'll let you know if we make any major updates.
      The version you see below was last modified on 22 January 2018.
    </p>

    <h6 class="bold">Information that we collect from you</h6>

    We collect two sorts of information:

    <ol>
      <li>
        Personal information that you provide
        <p>
          When you visit, make orders, search within, fill contact forms, respond
          to surveys or register on our website, as appropriate, you provide us with
          information about yourself including name, contact details and payment information,
          including credit card information and delivery address used to complete the purchase transaction. Furthermore, we collect order related information which includes items purchased,
          date and time of item purchase, special order information or instruction with the order/delivery.</p>
          <p>
            By accessing our web platforms, we may also receive and store certain information about you,
            your devices or your use of our service automatically when you access SendHut. This information may include:
            <ol>
              <li>	location data and certain characteristics of, and performance data about the device you use to access our Services </li>
              <li>	carrier/operating system including device and connection type, IP address, web browser
                and mobile payment methods; and</li>
                <li>specific SendHut pages you visit, content you view, features you use and the date and time of your visits </li>
            </ol>
          </p>
      </li>
      <li>
        <p> Cookies </p>
        <p>
          Cookies are small files which are stored on your computer when you visit websites like ours.
        </p>

        We use cookies to:

        <ul>
          <li>'remember' you and improve your experience of this website.</li>
          <li>Help remember and process the items in the shopping cart.</li>
        </ul>
        <br>
        <p>
          If you turn cookies off, you'll be treated as a ‘first-time' visitor when you return to the site and
          some of the features that make your site experience more efficient may not function properly.
        </p>
      </li>
    </ol>

    <h6>How do we use your information? </h6>

    All information provided to us will be stored on our database and used in the following ways

    <ul>
      <li>	To offer support, improve and develop our business and services to you</li>
      <li>Remembering your preferences allows us to tailor that experience to your needs, likes and dislikes.</li>
      <li>Process your order with partner and connect you to a delivery officer, and in turn complete your deliveries</li>
      <li>To contact you in connection with your orders and deliveries </li>
    </ul>

    <p>
      In the event of sale, transfer, merger, reorganization, dissolution, or similar event we may transfer your information to one or more third parties as part of that transaction.
    </p>

    <h6> How do we protect it?</h6>

    <p>
      We take your privacy seriously. We're committed to ensuring that the information you provide is kept secure at all times, and we have a series of physical, electronic and managerial procedures in place to prevent unauthorised access. Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.
    </p>

    <p>
      Remember, though, that we can only control the information that's collected through our own website. Sometimes we may link to other sites which we think may be of interest – any information you share on these sites will be outside of our control. They'll have their own privacy and cookie policies, so we suggest you take a look.</p>


      <h6>Want to find out more?</h6>
    <p>
      If you've got any questions, concerns or feedback about what you've read in this policy, get in touch – we'd love to hear how we're doing.</p>
  </div>
{% endblock %}
