{% extends "base.html" %}

{% block content %}
<div class="col-sm-10">
  <h4>Terms and Conditions of Service</h4>

  <p>This page (together with the documents referred to on it) tells you the terms and conditions on which the restaurants supply any of their meals (the "Meals") listed on our site to you.
    By using or receiving any services supplied to you by the Company (collectively, the "Service"), and by using any associated software supplied by the Company which purpose is to enable you to use the Service (collectively, the "Software"), you agreed to be bound by these terms and conditions of the Agreement, and any future amendments and additions to this Agreement as published from time to time at http://www.sendhut.com/terms or through the Service.</p>

  <p>www.sendhut.com is a website operated by Sendhut Limited ("we" or "us" or "Sendhut"), incorporated and registered in the Federal Republic of Nigeria, whose registered office is at House A. 19 Jerry Iriabe St, Lekki Phase 1, Lagos. Sendhut is a business where the food is prepared by independent restaurants ("Restaurants") and delivered by us.</p>

  <p>By using the Software or the Service, you agree that:</p>
  <ul>
    <li>You will only use the Service or Software for lawful purposes; you will not use the Services</li> for sending or storing any unlawful material or for fraudulent purposes.</li>
<li>You will not use the Service or Software to cause nuisance, annoyance or inconvenience.</li>
<li>You will not copy, or distribute the Software or other content without written permission from the Company.</li>
<li>You will provide us with whatever proof of identity we may reasonably request.</li>
<li>You will not impair the proper operation of the network.</li>
<li>You will not try to harm the Service or Software in any way whatsoever.</li>
</ul>

<h6>INFORMATION ABOUT YOU AND YOUR VISITS TO OUR SITE AND USE OF OUR SERVICE</h6>

<p>We collect certain data about you as a result of you using our Service. This is described in more detail in our <a href="{% url 'privacy' %}">privacy policy</a>.</p>


<h6>USER ACCOUNT</h6>

<p>You are the sole authorized User of any account you create with the Software. You are responsible for maintaining the confidentiality of any password or account number provided by you or the Company for accessing the Software. You are solely and fully responsible for all activities that occur under your password or account. The Company has no control over the use of any User's account and expressly disclaims any liability derived therefrom. Should you suspect that any unauthorized party may be using your password or account, you will notify the Company immediately.</p>

<h6>LINKS FROM OUR SITE</h6>

<p>Where our Site contains links to other sites and resources provided by third parties, these links are provided for your information only. We have no control over the contents of those sites or resources, and accept no responsibility for them or for any loss or damage that may arise from your use of them.</p>

<h6>OUR LIABILITY</h6>

<p>We have taken every care in the preparation of our Site and our Service. However, we will not be responsible for any errors or omissions in relation to such content or for any technical problems you may experience with our Site or our Service. If we are informed of any inaccuracies on our Site or in our Service we will attempt to correct this as soon as we reasonably can. To the extent permitted by law, we exclude all liability (whether arising in contract, in negligence or otherwise) for loss or damage which you or any third party may incur in connection with our Site, our Service, and any website linked to our Site and any materials posted on it.</p>

<h6>INTERNET DELAYS</h6>

<p>
  The Company's Service and Software may be subject to limitations, delays, and other problems inherent in the use of the internet and electronic communications. The Company is not responsible for any delays, delivery failures, or other damage resulting from such problems.
</p>


<h6>DISPUTE RESOLUTION</h6>
<p>
  The parties shall first attempt to resolve any dispute related to this Agreement in an amicable manner by mediation with a mutually acceptable mediator. Any disputes remaining unresolved after mediation shall be settled by binding arbitration conducted in Lagos, utilizing a mutually agreed arbitrator or arbitration service.
  The arbitration shall be conducted under the Commercial Arbitration Rules of the mutually agreed arbitrator or arbitration service. The arbitrator shall be required to follow the law.</p>

<h6>NOTICE</h6>
<p>The Company reserves the right to modify the terms and conditions of this Agreement or its policies relating to the Service or Software at any time, effective upon posting of an updated version of this Agreement on the Service or Software. You are responsible for regularly reviewing this Agreement. Continued use of the Service or Software after any such changes shall constitute your consent to such changes.</p>

<h6>TALK TO US</h6>

<p>Sendhut welcomes your questions or comments regarding the Terms:</p>

<p>House A. 19 Jerry Iriabe St, Lekki Phase 1, Lagos</p>

<p>Email: <a href="mailto:hello@sendhut.com">hello@sendhut.com</a></p>

<p>Telephone: (+234)-809-6699966 / (+234)-816-9567683</p>

Effective as of April 16, 2018
</div>
{% endblock %}
