{% load lunch_extras %}
{% load debug %}
{% load thumbnail %}

<div class="cart" id="cart-confirm">
  <h2 class="text-center bold">Your Order</h2>

  <div class="row">
    <div class="col-md-6 left-pane">
      {% if not cart %}
        <div class="clearfix"></div>
        <h6 class="text-muted empty-cart-msg">Your basket is empty</h6>
        {% endif %}
        {% for store, partition in cart.partitions %}
        <!-- <div class="col-sm"> -->
        {% thumbnail store.banner.image "576x288" crop="center" as im %}
        <img class="img-fluid"
             src="{{ im.url }}"
             alt="{{ item.title }}"
             width="{{ im.width }}"
             height="{{ im.height }}">
        {% endthumbnail %}
        <!-- </div> -->
        <h5 class="subcart-header">
          <a href="{% url 'stores:store_details' store.slug %}" class="no-deco">
            {{ store.name }}
          </a>
        </h5>
        {% include "cart/_subcart.html" %}
        <div class="container cart-summary">
          <div class="row">
            <div class="col-md-4">Subtotal</div>
            <div class="col-md">{{ partition.get_total }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">Delivery fee</div>
            <div class="col-md">{{ delivery_fee }}</div>
          </div>
          <div class="row">
            <div class="col-md-4">Container charges</div>
            <div class="col-md-1">{{ bowl_charge_total }}</div>
          </div>
          <hr>
          <div class="row">
            <div><h5 class="bold">Total</h5></div>
            <div class="offset-sm-1 bold">{{ total }}</div>
          </div>
        </div><!--// cart cost -->
        <br>
      {% endfor %}
    </div> <!--//left-pane -->
    <div class="col-md-6 right-pane">
      {% include "checkout/_checkout_form.html" %}
    </div>
  </div> <!-- right-pane-->
</div>
