<form id="checkout" action="{% url 'checkout:getit' %}?cart_ref={{ group_order.token }}" method="POST">
  {% csrf_token %}
  {% if coupon %}
    {% if coupon.addresses %}
      <div class="form-group">
        <label for="address">Select Delivery Address</label>
        <br>
        <select class="form-control" id="delivery_point" name="delivery_point">
          {% for x in coupon.addresses %}
            <option value="{{ x.id }}" >{{ x.address }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      <div class="form-group">
        <label>Delivery Address </label>
        <input type="text" class="form-control" name="address" id="address"
               placeholder="Add new address" />
      </div>
    {% endif %}
  {% else %}
    <div class="form-group">
      <label>Delivery Address </label>
      <input type="text" class="form-control" name="address" id="address"
             placeholder="Add new address" />
    </div>
  {% endif %}
  <div class="form-group">
    <label for="date">Delivery Time</label>
    <div class="row">
      <div class="col-md">
        <select class="form-control" name="date">
          {% for k, v in delivery_schedule.dates.items %}
            <option value="{{ v }}">{{ k }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md">
        <select class="form-control" name="time">
          {% for t_start, t_end in delivery_schedule.time_slots %}
            <option value="{{ t_end }}">{{ t_start }} - {{ t_end }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="form-row">
    <label for="instructions">Special instructions</label>
    <textarea class="form-control" rows="3"
              name="notes"
              placeholder="Delivery Instructions. Ex. Call me when you’re outside!"></textarea>
              {% with field_errors=form.errors.notes %}
                {% for error in field_errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% endwith %}
  </div>
  <br>
  <div id="paystackEmbedContainer"></div>
  <br>
  <div class="form-check">
    <label class="form-check-label text-muted">
      <input type="checkbox" class="form-check-input" name="cash" id="cash">
      Cash on delivery
    </label>
  </div>
  <input type="hidden" id="payment_reference" name="payment_reference">
  <br>
  <button type="submit" id="btn_submit"
          class="btn btn-warning">GET IT</button>
</form>
