<form id="checkout" action="{% url 'checkout:getit' %}?cart_ref={{ group_order.token }}" method="POST">
  {% csrf_token %}
  <div class="form-group">
    {% if user.addresses.all %}
      <label for="address">Delivery Address</label>
      <select class="form-control" id="address">
        {% for x in user.addresses.all %}
          <option vakue="{{ x }}">{{ x.address }}</option>
        {% endfor %}
      </select>
      <br>
      <a data-href="{% url 'accounts:address' %}" class="address-popup">
        Add new address &raquo;
      </a>
      {% else %}
    <br>
    <a data-href="{% url 'accounts:address' %}" class="btn btn-secondary address-popup">
      Add delivery address
    </a>
      <input type="text" class="form-control" name="address" id="address"
             placeholder="Enter location or landmark" required/>
  {% endif %}
  </div>
  <br>
  <div class="form-group">
    <label for="time">Delivery Time</label>
    <div class="row">
      <div class="col-md">
        <select class="form-control" name="time">
          {% for k, v in delivery_schedule.dates.items %}
            <option value="{{ v }}">{{ k }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-md">
        <select class="form-control" name="time">
          {% for t_start, t_end in delivery_schedule.time_slots %}
            <option value="{{ t_end }}">{{ t_start }} - {{ t_end }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <br>
  <div id="paystackEmbedContainer"></div>
  <br>
  <div class="form-check">
    <label class="form-check-label text-muted">
      <input type="checkbox" class="form-check-input" name="cash" id="cash">
      Cash on delivery
    </label>
  </div>
  <input type="hidden" id="payment_reference" name="payment_reference">
  <br>
  <button type="submit" id="btn_submit"
          class="btn btn-warning">GET IT</button>
</form>
