{% load lunch_extras %}
{% load thumbnail %}

<div class="cart" id="cart-confirm">
  <div class="text-center">
    <h2 class="bold">{{ group_order.user.get_full_name }}'s Group Order</h2>
    <h6>{{ group_order.store.name }}</h6>
    {% if group_order.monetary_limit %}
      <h6>Spending limit: {{ group_order.monetary_limit }}</h6>
    {% endif %}
    <h6>{{ group_order.members.count }} people in this group order</h6>
    <a href="{% url 'stores:store_details' group_order.store.slug %}">
      <button type="button" class="btn btn-info btn-sm">&laquo; Back to menu</button>
    </a>
  </div>

  <div class="row">
    <div class="col-md-6 left-pane">
      {% for member in group_order.members.all %}
        <h5 class="subcart-header">{{ member.get_name }}'s Order</h5>
        {% for line in member.cart %}
          <div class="container-fluid cart-line">
            <div class="row">
              <div class="col-md-1">{{line.quantity}}</div>
              <div class="col-md-10">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-10">
                      {% if member.cart.token == cart.token %}
                        <a class="item-popup"
                           data-href="{% url 'stores:cartline_detail' line_id=line.id slug=line.item.slug %}?cart_ref={{ group_order.token }}">
                           {{ line.data.name }}
                           <ul class="text-muted">
                             {% for x in line.data.extras_meta %}
                               <li>{{x.name}}</li>
                             {% endfor %}
                           </ul>
                        </a>
                      {% else %}
                        {{ line.item.name }}
                        <ul class="text-muted">
                          {% for x in line.data.extras_meta %}
                            <li>{{x.name}}</li>
                          {% endfor %}
                        </ul>
                      {% endif %}
                    </div>
                    <div class="col-sm-1">{{ line.get_total }}<br>
                      {% if member.cart.token == cart.token %}
                        <a data-href="{% url 'stores:cartline_delete' line.id %}?cart_ref={{ group_order.token }}" href="#" class="x-delete" data-cart="{{ group_order.token }}">
                          Remove
                        </a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

        <div class="container cart-summary">
          <div class="row">
            <div class="col-md-3 offset-sm-7"><a>Subtotal</a></div>
            <div class="col-md-1"><a>{{ member.get_cart_total }}</a></div>
          </div>
          {% if member.cart.bowl_charge_total %}
          <div class="row">
            <div class="col-md-3 offset-sm-7">Container charges</div>
            <div class="col-md-1">{{ member.cart.bowl_charge_total }}</div>
          </div>
          {% endif %}
        </div><!--// cart cost -->
        <br>
      {% endfor %}
    </div> <!--//left-pane -->
    <div class="col-md-6 right-pane">
      <div class="cart-summary">
        <div class="row">
          <div><h5 class="bold">Total</h5></div>
          <div class="offset-sm-1 bold">{{ group_order.get_total }} (includes delivery fee 500)</div>
        </div>
      </div><!-- // cart-summary  -->
      <hr>
      {% include "checkout/_checkout_form.html" %}
    </div>
  </div> <!-- right-pane-->
</div>
