{% extends "base.html" %}

{% block page_header %}
  {{ page_title }}
{% endblock %}

{% block content %}
  {% if group_order %}
    {% include "checkout/_group_order_summary.html" %}
  {% else %}
    {% include "checkout/_cart_summary.html" %}
  {% endif %}

{% endblock %}

{% block extra_js %}
<script src="https://js.paystack.co/v1/inline.js"></script>
<script>
  PaystackPop.setup({
  key: '{{ PAYSTACK_PUBLIC_KEY }}',
   // coupon not logged in
    email: {% if coupon %} 'hello@sendhut.com' {% else %} '{{ request.user.email }}' {% endif %},
    amount: {{ unquantized_total }},
    container: 'paystackEmbedContainer',
    callback: function(response){
      // if delivery address is set, submit cart
      if ($.trim($('#address').val()).length) {
        // set payment reference
        $('#payment_reference').val(response.reference);
        $('#checkout').submit();
      }
    }
  });

$('#cash').change(function() {
  if($(this).is(":checked")) {
    $('#paystackEmbedContainer').hide();
  } else {
    $('#paystackEmbedContainer').show();
  }
});

function initialize() {
  // var defaultBounds = new google.maps.LatLngBounds(
  //   new google.maps.LatLng(-33.8902, 151.1759),
  //   new google.maps.LatLng(-33.8474, 151.2631));

  var input = document.getElementById('address');
  new google.maps.places.Autocomplete(input);
}

google.maps.event.addDomListener(window, 'load', initialize);
</script>
{% endblock %}
