$rem-fallback: true;
//$black: #2e3333;
// $grey: ecf0f1; // postmates
$black: #231f1a;
//$black: #2e3333;
//$dark-blue: #737373;
$grey: #f5f5f5;
//$happy: #ffeae4;
$orange-happy: #ffeae4; // orange happy
$orange-light-happy: #faf8f8; // light orange
$grey-happy: #f5f5f5;;

// alt colour scheme: grey, black, green
// $pm-green: #11aeaa;
// $dv-green: #00ccbc;
// $blue: #00a4db;
// $sendhut-blue: #001625;
// $dark-blue: #1e262b;
$flinto-blue: #365a87;
$info: $flinto-blue;
$primary: $flinto-blue;
$success: $flinto-blue;
$happy: $grey-happy;

$light-grey: #f8f8f9;
$body-color: $black;
//$font-family-base: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, Lucida, sans-serif;
$font-family-base: 'adelle', "Helvetica Neue", Helvetica, Arial, Lucida, sans-serif;

@import "../fonts/source-sans-pro/source-sans-pro.css";
@import "bootstrap/bootstrap";
@import "_rem";
@import "_stratos";

@mixin circle($width, $border-color:$grey, $bg-color:$white) {
  width: $width;
  height: $width;
  background: $bg-color;
  border: 1px solid $border-color;
  color: $border-color;
  -webkit-border-radius: $width/2;
  -moz-border-radius: $width/2;
  border-radius: $width/2;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  @include rem(font-size, 14px);
  font-weight: 400;
  //min-height: 75rem;
  padding-top: 4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4em;
  @include rem(margin-bottom, 60px); /* Margin bottom by footer height */
}

.body-home {
  padding-top: 8rem;
}

.navbar {
  @include rem(border-bottom, 1px solid #e6e6e6);
  background-color: $white;

  #contact-tel {
    @include rem(line-height, 20px);
    @include rem(font-size, 15px);
    li {
      @include rem(padding-top, 7px);
      @include rem(padding-right, 10px);
    }
  }
}

.navbar-brand {
  img {
    @include rem(height, 25px)
  }
  color: #001625;

  .navbar-toggler-icon {
    color: #000
  }
}

.page-header {
  h1, h4 {
    //@include rem(margin-bottom, 35px)
    @include rem(margin-top, 20px);
  }
}


*[data-href] {
  cursor: pointer;
}


.card-row {
  @extend .row;
  @include rem(padding-bottom, 30px);

  .card {
    border: none;
  }
}

a.no-deco {
  color: $black;
  text-decoration: none;
}

.store-list {
  .card {
    &:hover {
      background-color: $grey;
    }
  }
  .store {
    @include rem(margin-bottom, 20px);
  }
}


#popular-tags {
  .tag-row {
    @include rem(padding-top, 20px);

    .badge {
      float: left;
      @include rem(font-size, 19px);
      //@include rem(padding, 6px);
    }
  }
}

#how-it-works {
  .card {
    border: none;
    float: left;
  }
}

.teams {
  @extend .row;
  @include rem(padding-bottom, 30px);

  .card {
    @include rem(margin-bottom, 20px);
    &:hover {
      background-color: $grey;
    }
  }
}

main {
  #content {
    @include rem(padding-bottom, 30px);
  }
}

#marketing-business {
  background-color: $happy;

  #happiness-pitch {
    @extend .jumbotron;
    background-color: transparent;
    @include rem(padding-bottom, 10px);

    .card {
      background-color: transparent;
      border: 0;
    }
  }

  #signup {
    background-color: $white;
    @extend .jumbotron;

    #team-lunch {
      background: $white url(../images/team-lunch.png) no-repeat top;
      @include rem(width, 380px);
      @include rem(height, 250px);
    }
  }
}

.menu-header {
  margin-top: 20px;
}

.food-list {
  a {
    color: $black !important;
  }
  .menu-item {
    border: 1px solid darken($grey, .5);
    @include rem(margin-bottom, 20px);
    @include rem(margin-right, 30px);
    cursor: pointer;
    &:hover {
      background-color: $light-grey;
    }
    //width: 80%;
    .item-image-wrap {
     @include rem(padding-left, 0);
     @include rem(padding-right, 0);
    }
    .item-body {
      @include rem(padding, 10px);
    }
  }
  .card {
    float: left;
    border: none;
    background-color: transparent;
    .card-body{
      .card-text {
        margin-bottom: 3px ;
        font-size: 14px;
      }
      padding: 0 .125rem;
      padding-left: 0;
    }
  }
}

.item-detail-card {
  @extend .card;
  border: 0;

  .number-spinner {
    input {
      border: 1px solid $grey;
    }
    .plus {
      padding: 18px;
      background: url(../images/icons/plus.svg) no-repeat;
      background-color: $grey;
    }

    .minus {
      padding: 18px;
      background: url(../images/icons/minus.svg) no-repeat;
      background-color: $grey;
    }
  }
}

.avg-time {
  display: block;
}


button.close {
  cursor: pointer;
}

.cart{
  a {
    color: $black !important;
    cursor: pointer;
  }

  @include rem(font-size, 16px);

  .close {
    cursor: pointer;
    @include rem(font-size, 2.6rem !important);
    @include rem(padding-right, 2rem);
    &:hover {
      font-weight: bold;
    }

  }

  .empty-cart-msg {
    @include rem(font-size, 17px);
    @include rem(padding, 40px);
  }

  .btn-checkout {
    @extend .btn;
    @extend .btn-primary;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
    color: $white !important;
  }

  .cart-line {
    border-bottom: 1px solid rgba(35, 31, 26, 0.1);
    @include rem(padding, 10px);
    .delete, .x-delete {
      //display: none;
      font-size: 10px;
      // color: $primary !important;
    }
  }
  .cart-summary {
    @include rem(padding-top, 20px);
  }

  .right-pane {
    padding: 30px;
    border-left: 1px solid $grey;
  }
  .left-pane {
    padding: 30px;
  }
}

#faqs {
  h6 {
    padding: 10px 10px 10px 0;
    font-weight: bold !important;
  }
  ol#faqs-menu {
    padding-left: 18px;
    li {
      padding: 5px
    }
  }
}

.welcome-callout {
  font-family: stratos, Helvetica Neue, Helvetica, Arial, sans-serif
}


#checkout {
  label {
    font-size: 15px !important;
  }
  select {
    font-size: 14px !important;
  }
}

#group-order-form {
  #limit-wrapper {
    padding: 0;
    #other_limit {
      display: none;
    }
  }
}

#group-order-header {
  @extend .alert-info;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 10px;
  #group-order-actions {
    padding: 10px;
  }
}

.group-section-header{
  background-color: $grey;
  padding: 5px;
}

#cash_delivery {
  font-size: 8px;
}

#group-share-modal {
  #url-copy-row {
    @extend .row;
    width: 80%;
    margin-left: 10%;
    border: 1px dashed $primary;
    padding: 10px;
    cursor: pointer
  }
}
.subcart-header {
  padding-top: 30px;
}
#checkout-cart {
  height: 100%;
}

.cart-summary {
  .row {
    padding: 5px;
  }
}

#open-groups {
  @include rem(margin-bottom, 30px);
}

#sidebar-cart {
  height: 700px;
  overflow-y: scroll;

  .cart-header {
    padding: 20px 0 0 20px;
  }
}

.invalid-feedback {
  display: block !important;
}

.group-order-explainer {
  li {
    padding: 3px;
  }
}


// FOOTER

#footer-app-download {
  background-color: $grey;
  @include rem(padding, 20px);

  #always-tap {
    background: transparent url(../images/meal-always-tap.png) no-repeat top;
    @include rem(width, 160px);
    @include rem(height, 160px);
  }

  .p-20 {
    @include rem(padding, 14px)
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  @include rem(height, 60px); /* Set the fixed height of the footer here */
  @include rem(line-height, 60px); /* Vertically center the text there */
  @include rem(border-top, 1px solid $grey);
  a {
    color: $black !important;
  }
  ul#footer-nav {
    margin-bottom: 0;
  }
}

// BREAKPOINT FOR SMALL VIEWPORT
@include media-breakpoint-down(sm) {

  h1, .h1 { font-size: .8 * $h1-font-size; }

  #always-tap {
    display: none
  }
}

// dashboard
.dashboard {
  padding-top: 0;

  #context-menu {
    @include rem(padding, 20px 0);
    @include rem(margin-top, 20px);
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
  }

  #content {
    @include rem(padding-top, 100px);

    .tab-content {
      @include rem(padding-top, 30px);
      th {
        border-top: 0;
      }
    }
  }

  #masthead{
    @include rem(padding-right, 100px);
  }
  /*
   * Sidebar
   */

  .sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px 0;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    border-right: 1px solid #eee;
  }

  .sidebar .nav {
    margin-bottom: 20px;
  }

  .sidebar .nav-item {
    width: 100%;
  }

  .sidebar .nav-item + .nav-item {
    margin-left: 0;
  }

  .sidebar .nav-link {
    border-radius: 0;
  }

  /*
   * Dashboard
   */

  /* Placeholders */
  .placeholders {
    padding-bottom: 3rem;
  }

  .placeholder img {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

body.store-b2b-signup {
  #store-b2b-banner {
    .card-title {
      margin-top: 170px;
      display: block;
      font-family: futura-pt;
      font-weight: 600;
      font-style: normal;
      font-size: 90px;
      letter-spacing: 1px;
      text-transform: none;
      line-height: 1.1em;
      color: $white;
    }
    .card-text {
      font-family: futura-pt;
      font-weight: 500;
      font-style: normal;
      font-size: 28px;
      letter-spacing: 1px;
      text-transform: none;
      line-height: 1.3em;
      color: $white;
      margin: 20px auto;
    }

    .card-img-overlay{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(117, 29, 0, .2);
      z-index: 99;
    }
  }

  #store-marketing {
    .card {
      float: left;
      border: 0
    }
  }

  #envoy-merchant-request {
    background-color: $white;
    @extend .jumbotron;
    padding-top: 5px;
  }
}

// MISCELLANEOUS
.btn {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.bg-happy {
  background-color: $happy;
}

.icons {
  text-align: center;
}

.icon {
  width: 20px;
  margin: 7px 9px 9px;
}

.form-control:focus {
  border-color: $input-border-color !important;
  -webkit-box-shadow: none!important;
  -moz-box-shadow: none!important;
  box-shadow: none!important;
}

.diet-icon {
  @extend .text-center;
  cursor: pointer;
}

.diet-vegan, .diet-vegetarian {
  @include circle(22px, $green);
}

.diet-halal {
  @include circle(22px, $blue);
}

.diet-gluten-free, .diet-dairy-free {
  @include circle(22px, $red);
}
