{% extends "base_dashboard.html" %}


{% block context_menu %}
  <ul class="nav">
    <li class="nav-item">
      <a class="btn btn-outline-primary" href="{% url 'dashboard:allowance_add' %}"
         role="button">
         Add Allowance
      </a>
    </li>
  </ul>
{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Limit</th>
        <th scope="col">Frequency</th>
        <th scope="col">Created By</th>
      </tr>
    </thead>
    <tbody>
      {% for x in allowances %}
        <tr>
          <td>
            <a href="{% url 'dashboard:allowance_details' x.id %}">{{ x.name }}</a>
          </td>

          <td>{{ x.limit }}</td>
          <td>{{ x.frequency_text }}</td>
          <td>{{ x.created_by.get_full_name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
